v-scroll =
  overflow-y: scroll
  overflow-x: hidden


h-scroll =
  overflow-y: hidden
  overflow-x: scroll


no-scroll =
  overflow: hidden


text-ellipsis =
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
